body {
    /* background-color: #fffe9e; */
    font-family: "Gaegu", sans-serif;
    font-size: 1.3em;
    text-align: center;
}
h1 {
    margin: 1em 0 0;
}
#smallText {
    font-size: .8em;
}

#messageElement {
    white-space: pre-line;
    text-decoration: underline;
}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    padding: 0 0 30px 0;
    justify-content: center;
    text-align: center;
}

.card {
    background-color: white;
    width: 20%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

img {
    width: 95%;
}
.toggleImg {
    display: none;
}
#messageElement {
    font-weight: bold;
    padding: 0 0 15px 0;
}

#reset {
    font-family: "Gaegu", sans-serif;
    font-size: .7em;
    padding: 15px 40px;
    background-color: teal;
    color: white;
}

#audio {
    position: relative;
    top: 23px;
    left: 260px;
}

/* mobile */
@media only screen and (max-width: 414px) {
  body {
    background-color: lightblue;
    font-family: "Gaegu", sans-serif;
    font-size: 1.3em;
    text-align: center;
    padding: 3rem 0;
  }
  #board {
    width: 80%;
  }
}